In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [86]:
client_data = "../data/raw/df_final_demo.csv"
experiment_data = "../data/raw/df_final_experiment_clients.csv"
web_data1 = "../data/raw/df_final_web_data_pt_1.csv"
web_data2 = "../data/raw/df_final_web_data_pt_2.csv"

In [87]:
client_df = pd.read_csv(client_data)
experiment_df = pd.read_csv(experiment_data)
web1_df = pd.read_csv(web_data1)
web2_df = pd.read_csv(web_data2)

In [88]:
def merge_and_clean_client_df(client_df = client_df, experiment_df = experiment_df):
    merged_client_df = pd.merge(client_df, experiment_df, on='client_id', how='outer')
    client_df_cleaned = merged_client_df[merged_client_df.isnull().sum(axis=1) <= 5]
    client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
    return client_df_cleaned

In [89]:
client_df_cleaned = merge_and_clean_client_df()

C:\Users\olgeo\AppData\Local\Temp\ipykernel_22628\15114656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [90]:
client_df_cleaned.to_csv('../data/clean/clean_client_data.csv', index=False)

In [91]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q4'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,4954611.4,14.9,184.7,54.6,2.5,419689.2,4.2,6.4
std,2870445.7,7.7,92.7,13.2,0.7,511980.7,2.1,2.2
min,169.0,2.0,33.0,16.0,2.0,137547.3,0.0,1.0
25%,2471025.0,8.0,105.0,45.5,2.0,182199.1,2.0,5.0
50%,4966245.0,14.0,177.0,56.0,2.0,264313.4,5.0,7.0
75%,7392799.0,21.0,253.0,64.0,3.0,451959.9,6.0,9.0
max,9999832.0,62.0,749.0,94.0,8.0,16320040.2,7.0,9.0

In [92]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q1'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,5045710.8,10.2,129.3,40.7,2.1,28418.6,2.7,4.6
std,2875145.5,6.0,71.9,15.4,0.3,5737.4,2.2,2.3
min,555.0,2.0,33.0,13.5,1.0,13789.4,0.0,1.0
25%,2577696.0,5.0,71.0,27.5,2.0,25013.7,1.0,3.0
50%,5084266.0,8.0,106.0,38.5,2.0,29169.4,2.0,4.0
75%,7528251.0,14.0,174.0,53.0,2.0,32951.7,4.0,6.0
max,9999626.0,52.0,631.0,96.0,5.0,37346.4,7.0,9.0

In [93]:
def merge_and_clean_web_df(web1_df = web1_df, web2_df = web2_df, experiment_df = experiment_df):
    web_df = pd.concat([web1_df, web2_df], axis=0, ignore_index=True)
    web_exp_df = pd.merge(web_df, experiment_df, on='client_id', how='right')
    web_exp_df['date_time'] = pd.to_datetime(web_exp_df['date_time'], format='%d/%m/%y %H:%M:%S')
    web_exp_df = web_exp_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    web_exp_df = web_exp_df.dropna(subset=['Variation'])
    return (web_exp_df)

In [94]:
web_exp_df = merge_and_clean_web_df()

In [95]:
def remove_duplicates(df):
    new_df = df.copy()
    
    non_start_df = new_df[new_df['process_step'] != 'start']
    filt_start = new_df[new_df['process_step'] == 'start'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_start_df, filt_start])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    
    non_confirm_df = new_df[new_df['process_step'] != 'confirm']
    filt_confirm = new_df[new_df['process_step'] == 'confirm'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_confirm_df, filt_confirm])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    return(new_df)

In [96]:

def step_checks(df):
    new_df = df.copy()
    new_df
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

    #Adds a column to say if that step is the final step of the visit
    new_df['visit_final_step'] = new_df['visit_id'] != new_df['visit_id'].shift(-1)

    #Adds a column for the duration (in seconds) of each step
    new_df['step_duration'] = (new_df['date_time'].shift(-1) - new_df['date_time']).dt.total_seconds()
    new_df.loc[new_df['visit_final_step'] == True, 'step_duration'] = np.nan

    step_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
    next_step = {'start': 'step_1', 'step_1': 'step_2', 'step_2': 'step_3', 'step_3': 'confirm'}

    #Adds "next_process_step" column with the step from the following row
    new_df['next_process_step'] = new_df['process_step'].shift(-1)
    
    #Adds "step_proceeds" column which checks if the next step is the same visit and moved forward a step
    new_df['step_proceeds'] = new_df.apply(
        lambda row: row['next_process_step'] == next_step.get(row['process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_proceeds'] = False

    #Adds "step_error" column which checks if the next step is the same visit and moved back a step
    new_df['step_error'] = new_df.apply(
        lambda row: row['process_step'] == next_step.get(row['next_process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_error'] = False

    #Removes "next_process_step" column with the step from the following row
    new_df.drop(columns='next_process_step', inplace=True)
    new_df.reset_index(inplace=True)
    new_df.drop(columns='index', inplace=True)
    return (new_df)

In [97]:
clean_df = remove_duplicates(web_exp_df)
analysis_df = step_checks(clean_df)

In [98]:
analysis_df.groupby(['Variation','process_step'])[['step_error', 'step_proceeds', 'visit_final_step','step_duration']].mean()

                        step_error  step_proceeds  visit_final_step  \
Variation process_step
Control   confirm         0.000063       0.000000          0.963998
          start           0.000000       0.683218          0.312277
          step_1          0.069705       0.752697          0.117972
          step_2          0.055088       0.821718          0.056440
          step_3          0.103970       0.666243          0.097214
Test      confirm         0.000138       0.000000          0.987639
          start           0.000000       0.706529          0.285555
          step_1          0.129101       0.709709          0.080943
          step_2          0.106102       0.780890          0.042822
          step_3          0.088592       0.704681          0.072218

                        step_duration
Variation process_step
Control   confirm          221.454861
          start             39.414676
          step_1            55.387458
          step_2            94.312098
          step_3           146.744545
Test      confirm          192.455224
          start             32.375201
          step_1            72.090036
          step_2            91.990796
          step_3           165.050533

In [99]:
analysis_df[~analysis_df['step_proceeds'] & ~analysis_df['step_error'] & ~analysis_df['visit_final_step']].head(20)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
12,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,False,63.0,False,False
15,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control,False,111.0,False,False
16,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,Control,False,20.0,False,False
44,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,Test,False,198.0,False,False
47,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,Test,False,230.0,False,False
48,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,Test,False,3.0,False,False
59,1516,182314299_63168583136,481123290_95510977345_707323,step_2,2017-04-05 15:56:00,Test,False,82.0,False,False
60,1516,182314299_63168583136,481123290_95510977345_707323,start,2017-04-05 15:57:22,Test,False,6.0,False,False
116,3647,742136411_92170694666,53540785_76819002881_890663,step_3,2017-06-01 15:57:33,Control,False,230.0,False,False
130,4484,929634148_40943099576,66056328_29973355596_981576,step_3,2017-04-05 20:45:04,Test,False,144.0,False,False
140,4717,263467736_20983070341,272348829_81139455656_832357,step_3,2017-04-23 17:21:34,Test,False,60.0,False,False
166,5845,107020087_57150768871,568024739_52280552355_814744,step_3,2017-04-12 12:18:07,Test,False,963.0,False,False
198,7020,131463516_45910398094,61344667_49617029714_100250,confirm,2017-04-08 10:21:43,Control,False,17.0,False,False
205,7561,374207007_19518941180,728540633_30199135226_481610,step_2,2017-04-17 21:26:30,Test,False,83.0,False,False
249,8712,908190802_92056500491,102999029_97734962870_849096,step_2,2017-04-08 12:56:49,Test,False,609.0,False,False
260,9229,810786857_11889939941,794978950_70484965288_55630,step_1,2017-06-09 18:52:14,Control,False,64.0,False,False
262,9229,810786857_11889939941,794978950_70484965288_55630,step_2,2017-06-09 18:53:22,Control,False,8.0,False,False
265,9751,371374112_82466346974,158586948_58770146204_677956,step_2,2017-05-29 08:05:07,Test,False,95.0,False,False
329,12785,33331311_24456160977,475801280_89400626798_718400,step_2,2017-04-25 15:10:46,Test,False,97.0,False,False
331,12785,33331311_24456160977,475801280_89400626798_718400,step_3,2017-04-25 15:13:12,Test,False,727.0,False,False

In [100]:
analysis_df.head(30)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
0,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,False,7.0,True,False
1,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,False,32.0,True,False
2,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,False,99.0,True,False
3,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,False,20.0,True,False
4,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,True,NaN,False,False
5,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,Test,False,7.0,True,False
6,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,Test,False,18.0,True,False
7,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,Test,False,189.0,True,False
8,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,Test,False,163.0,True,False
9,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,Test,True,NaN,False,False
10,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:52,Test,True,NaN,False,False
11,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control,False,49.0,True,False
12,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,False,63.0,False,False
13,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,Control,False,9.0,True,False
14,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,Control,False,275.0,True,False
15,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control,False,111.0,False,False
16,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,Control,False,20.0,False,False
17,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:15,Control,False,2.0,True,False
18,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 19:00:17,Control,False,9.0,False,True
19,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:26,Control,True,NaN,False,False
20,1104,194240915_18158000533,543158812_46395476577_767725,start,2017-06-12 07:49:18,Control,True,NaN,False,False
21,1104,194240915_18158000533,643221571_99977972121_69283,start,2017-06-20 22:31:33,Control,True,NaN,False,False
22,1186,446844663_31615102958,507052512_11309370126_442139,start,2017-04-08 15:59:16,Control,True,NaN,False,False
23,1186,446844663_31615102958,795373564_99931517312_810896,start,2017-04-08 18:05:02,Control,False,11.0,True,False
24,1186,446844663_31615102958,795373564_99931517312_810896,step_1,2017-04-08 18:05:13,Control,False,11.0,True,False
25,1186,446844663_31615102958,795373564_99931517312_810896,step_2,2017-04-08 18:05:24,Control,True,NaN,False,False
26,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,Control,False,33.0,True,False
27,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,Control,False,98.0,True,False
28,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,Control,False,31.0,True,False
29,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,Control,False,83.0,True,False

In [101]:
analysis_df.to_csv('../data/clean/analysis_data.csv', index=False)