In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
client_data = "../data/raw/df_final_demo.csv"
experiment_data = "../data/raw/df_final_experiment_clients.csv"
web_data1 = "../data/raw/df_final_web_data_pt_1.csv"
web_data2 = "../data/raw/df_final_web_data_pt_2.csv"

In [3]:
client_df = pd.read_csv(client_data)
experiment_df = pd.read_csv(experiment_data)
web1_df = pd.read_csv(web_data1)
web2_df = pd.read_csv(web_data2)

In [4]:
def merge_and_clean_client_df(client_df = client_df, experiment_df = experiment_df):
    merged_client_df = pd.merge(client_df, experiment_df, on='client_id', how='outer')
    client_df_cleaned = merged_client_df[merged_client_df.isnull().sum(axis=1) <= 5]
    client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
    return client_df_cleaned

In [5]:
client_df_cleaned = merge_and_clean_client_df()

C:\Users\olgeo\AppData\Local\Temp\ipykernel_6124\15114656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client_df_cleaned['balance_quartile'] = pd.qcut(client_df_cleaned['bal'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [6]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q4'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,4954611.4,14.9,184.7,54.6,2.5,419689.2,4.2,6.4
std,2870445.7,7.7,92.7,13.2,0.7,511980.7,2.1,2.2
min,169.0,2.0,33.0,16.0,2.0,137547.3,0.0,1.0
25%,2471025.0,8.0,105.0,45.5,2.0,182199.1,2.0,5.0
50%,4966245.0,14.0,177.0,56.0,2.0,264313.4,5.0,7.0
75%,7392799.0,21.0,253.0,64.0,3.0,451959.9,6.0,9.0
max,9999832.0,62.0,749.0,94.0,8.0,16320040.2,7.0,9.0

In [7]:
client_df_cleaned[client_df_cleaned['balance_quartile']=='Q1'].describe().round(1)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
count,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0,17649.0
mean,5045710.8,10.2,129.3,40.7,2.1,28418.6,2.7,4.6
std,2875145.5,6.0,71.9,15.4,0.3,5737.4,2.2,2.3
min,555.0,2.0,33.0,13.5,1.0,13789.4,0.0,1.0
25%,2577696.0,5.0,71.0,27.5,2.0,25013.7,1.0,3.0
50%,5084266.0,8.0,106.0,38.5,2.0,29169.4,2.0,4.0
75%,7528251.0,14.0,174.0,53.0,2.0,32951.7,4.0,6.0
max,9999626.0,52.0,631.0,96.0,5.0,37346.4,7.0,9.0

In [8]:
def merge_and_clean_web_df(web1_df = web1_df, web2_df = web2_df, experiment_df = experiment_df):
    web_df = pd.concat([web1_df, web2_df], axis=0, ignore_index=True)
    web_exp_df = pd.merge(web_df, experiment_df, on='client_id', how='right')
    web_exp_df['date_time'] = pd.to_datetime(web_exp_df['date_time'], format='%d/%m/%y %H:%M:%S')
    web_exp_df = web_exp_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    return (web_exp_df)

In [9]:
web_exp_df = merge_and_clean_web_df()

In [10]:
def remove_duplicates(df):
    new_df = df.copy()
    
    non_start_df = new_df[new_df['process_step'] != 'start']
    filt_start = new_df[new_df['process_step'] == 'start'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_start_df, filt_start])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    
    non_confirm_df = new_df[new_df['process_step'] != 'confirm']
    filt_confirm = new_df[new_df['process_step'] == 'confirm'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([non_confirm_df, filt_confirm])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    return(new_df)

In [32]:

def step_checks(df):
    new_df = df.copy()
    new_df
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

    #Adds a column to say if that step is the final step of the visit
    new_df['visit_final_step'] = new_df['visit_id'] != new_df['visit_id'].shift(-1)

    #Adds a column for the duration (in seconds) of each step
    new_df['step_duration'] = (new_df['date_time'].shift(-1) - new_df['date_time']).dt.total_seconds()
    new_df.loc[new_df['visit_final_step'] == True, 'step_duration'] = np.nan

    step_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
    next_step = {'start': 'step_1', 'step_1': 'step_2', 'step_2': 'step_3', 'step_3': 'confirm'}

    #Adds "next_process_step" column with the step from the following row
    new_df['next_process_step'] = new_df['process_step'].shift(-1)
    
    #Adds "step_proceeds" column which checks if the next step is the same visit and moved forward a step
    new_df['step_proceeds'] = new_df.apply(
        lambda row: row['next_process_step'] == next_step.get(row['process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_proceeds'] = False

    #Adds "step_error" column which checks if the next step is the same visit and moved back a step
    new_df['step_error'] = new_df.apply(
        lambda row: row['process_step'] == next_step.get(row['next_process_step'], None),
        axis=1
    )
    new_df.loc[new_df['visit_final_step'] == True, 'step_error'] = False

    #Removes "next_process_step" column with the step from the following row
    new_df.drop(columns='next_process_step', inplace=True)
    new_df.reset_index(inplace=True)
    return (new_df)

In [12]:
clean_df = remove_duplicates(web_exp_df)
analysis_df = step_checks(clean_df)

In [13]:
analysis_df.groupby(['Variation','process_step'])[['step_error', 'step_proceeds', 'visit_final_step','step_duration']].mean()

                        step_error  step_proceeds  visit_final_step  \
Variation process_step
Control   confirm         0.000063       0.000000          0.964163
          start           0.000000       0.682907          0.312581
          step_1          0.069637       0.752697          0.118006
          step_2          0.055088       0.821718          0.056440
          step_3          0.103970       0.664619          0.098794
Test      confirm         0.000139       0.000000          0.987615
          start           0.000000       0.706148          0.285926
          step_1          0.129076       0.709709          0.080943
          step_2          0.106167       0.780890          0.042822
          step_3          0.088592       0.703097          0.073801

                        step_duration
Variation process_step
Control   confirm          221.954545
          start             39.463311
          step_1            55.388543
          step_2            94.312098
          step_3           146.891058
Test      confirm          192.455224
          start             32.396306
          step_1            72.093152
          step_2            91.991437
          step_3           165.135429

In [14]:
analysis_df[~analysis_df['step_proceeds'] & ~analysis_df['step_error'] & ~analysis_df['visit_final_step']].head(20)

,index,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
25,173011,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,False,63.0,False,False
28,173008,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control,False,111.0,False,False
29,173007,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,Control,False,20.0,False,False
57,157165,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,Test,False,198.0,False,False
60,157161,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,Test,False,230.0,False,False
61,157158,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,Test,False,3.0,False,False
72,112247,1516,182314299_63168583136,481123290_95510977345_707323,step_2,2017-04-05 15:56:00,Test,False,82.0,False,False
73,112243,1516,182314299_63168583136,481123290_95510977345_707323,start,2017-04-05 15:57:22,Test,False,6.0,False,False
90,343349,1677,361240963_15830034505,494607202_74539107264_966618,step_2,2017-03-31 11:00:40,NaN,False,70.0,False,False
133,323395,2078,585735301_21309149782,900598259_99565669243_552843,step_3,2017-05-06 08:31:39,NaN,False,285.0,False,False
134,323392,2078,585735301_21309149782,900598259_99565669243_552843,step_1,2017-05-06 08:36:24,NaN,False,22.0,False,False
159,12683,3647,742136411_92170694666,53540785_76819002881_890663,step_3,2017-06-01 15:57:33,Control,False,230.0,False,False
177,180078,4484,929634148_40943099576,66056328_29973355596_981576,step_3,2017-04-05 20:45:04,Test,False,144.0,False,False
187,187403,4717,263467736_20983070341,272348829_81139455656_832357,step_3,2017-04-23 17:21:34,Test,False,60.0,False,False
239,17021,5845,107020087_57150768871,568024739_52280552355_814744,step_3,2017-04-12 12:18:07,Test,False,963.0,False,False
292,48144,7020,131463516_45910398094,61344667_49617029714_100250,confirm,2017-04-08 10:21:43,Control,False,17.0,False,False
299,32079,7561,374207007_19518941180,728540633_30199135226_481610,step_2,2017-04-17 21:26:30,Test,False,83.0,False,False
333,381500,8030,771447768_62937935763,146741987_92371458624_204845,step_2,2017-04-15 11:05:39,NaN,False,634.0,False,False
351,421627,8583,103926927_60097081205,984005422_73973515525_654177,step_2,2017-04-05 12:18:59,NaN,False,34.0,False,False
360,148845,8712,908190802_92056500491,102999029_97734962870_849096,step_2,2017-04-08 12:56:49,Test,False,609.0,False,False

In [30]:
analysis_df.head(30)

,index,client_id,visitor_id,visit_id,process_step,date_time,Variation,visit_final_step,step_duration,step_proceeds,step_error
0,374121,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,False,9.0,True,False
1,374120,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,False,46.0,True,False
2,374119,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,False,94.0,True,False
3,374118,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,False,64.0,True,False
4,374117,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,True,NaN,False,False
5,94261,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,False,7.0,True,False
6,94260,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,False,32.0,True,False
7,94259,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,False,99.0,True,False
8,94258,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,False,20.0,True,False
9,94257,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,True,NaN,False,False
10,180548,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,Test,False,7.0,True,False
11,180547,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,Test,False,18.0,True,False
12,180546,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,Test,False,189.0,True,False
13,180545,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,Test,False,163.0,True,False
14,180544,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,Test,True,NaN,False,False
15,321615,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:50:20,NaN,False,36.0,True,False
16,321614,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:50:56,NaN,False,16.0,False,True
17,321613,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:51:12,NaN,False,304.0,False,True
18,321612,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,NaN,False,2.0,True,False
19,321611,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:56:18,NaN,False,19.0,True,False
20,321610,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:56:37,NaN,False,50.0,True,False
21,321609,722,919259913_64837298108,984487154_55831795985_521110,step_3,2017-04-19 14:57:27,NaN,False,162.0,True,False
22,321608,722,919259913_64837298108,984487154_55831795985_521110,confirm,2017-04-19 15:00:09,NaN,True,NaN,False,False
23,81935,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:52,Test,True,NaN,False,False
24,173012,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control,False,49.0,True,False
25,173011,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,False,63.0,False,False
26,173010,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,Control,False,9.0,True,False
27,173009,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,Control,False,275.0,True,False
28,173008,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control,False,111.0,False,False
29,173007,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,Control,False,20.0,False,False

In [36]:
analysis_df.to_csv('../data/clean/analysis_data.csv', index=False)